/* Code for all the css files for the popup */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #05b0af;
  --primary-light-100: #47bab9;
  --primary-light-200: #69c4c3;
  --primary-light-300: #85cecc;
  --primary-light-400: #b8e2e0;
  --primary-light-500: #d0eceb;
  --primary-light-600: #e8f5f5;
  --primary-dark-100: #039392;
  --primary-dark-200: #027776;
  --primary-dark-300: #015c5b;
  --primary-dark-400: #014241;
  --primary-dark-500: #002a29;
  --primary-dark-600: #001413;
  --primary-red: #ff4d4d;
  --primary-green: #4dff4d;
}

body {
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--primary-light-600);
}

.title-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: var(--primary-light-600);
  border-bottom: solid 1px var(--primary);
}

.title-text {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-dark-600);
}

.title-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  background-color: var(--primary-light-600);
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px var(--primary);
}

.nav-item {
  cursor: pointer;
  color: var(--primary-dark-600);
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  border-right: solid 1px var(--primary);
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  width: 100%;
  padding: 20px;
}

.content-box {
  width: 100%;
  padding: 4px 8px;
  background-color: var(--primary-light-500);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-box-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-text {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-dark-400);
}

.content-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-dark-600);
}
